body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: linear-gradient(#171738 ,#2E1760);
}
.Login-box{
    position: absolute;
    top: 45%;
    left: 40%;
    width: 400px;
    padding: 40px;
    transform: translate(-50% 50%);
    background: linear-gradient(#006992, #2E1760);
    box-sizing: border-box;
    box-shadow: 0 15px 25px skyblue;
    border-radius: 10px;
    font-size: x-small;
    transform: rotate(0deg);
    transition: none;
     animation: animation 8s ease-in-out infinite;
}
.Login-box:before{
    border-top: 2px solid white;
    border-right: 2px solid white;
    animation: border-top 3s infinite alternate;
}
.Login-box h2{
    margin: 0 0 30px;
    padding: 0px;
    color: #fff;
    text-align: center;
}
.button{
    padding: 10px 20px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid, #ffffff80;
    transition: .5s ease;
}
.button:hover,:focus{
    background: #00eeff;
    border: 1px solid #00e1ff;
    text-shadow: 0 0 5px #ffffff,0 0 10px #ffffff,0 0 20px #ffffff,;
    box-shadow: 0 0 5px #00e1ff,0 0 20px #00e1ff,0 0 50px #00e1ff,0 0 100px #00e1ff,;
}
.bex{
    width: 150px;
    height: 150px;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 25%;
    transform: translate(-50%,50%);
    border-radius: 8px;
}
.bex img{
    width: 200px;
    height: 200px;
    border-radius: 10px;

}
@keyframes animation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        
    }
    100% {
        transform: rotateY(360deg);
    }
    75% {
        transition: none;
    }
}

